@import url(./../../public/css/vairbles.less);

.centerWindow {
    opacity: 0;
    pointer-events: none;

    .bg {
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.306);
        z-index: 998;
    }

    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: @normal_border_radius;
        z-index: 999;

        .title {
            display: flex;
            width: 100%;
            height: 40px;
            line-height: 40px;
            flex-direction: row;

            p {
                i {
                    margin-right: 5px;
                }

                display: inline-block;
                width: calc(100% - 30px);
                letter-spacing: 2px;
                padding-left: 9px;
            }

            span {
                display: inline-block;
                width: 30px;
                font-size: 20px;
                font-weight: bolder;
                cursor: pointer;
            }
        }

        .content {
            width: 100%;
            height: calc(100% - 30px);

            .hint {
                display: block;
                overflow: hidden;
                line-height: 20px;
                font-size: 12px;
                padding-left: 5px;
                transition: 0.3s ease-in-out;
            }

            .hide {
                height: 0;
            }

            .show {
                height: 20px;
            }
        }
    }
}

#windowAuthorList {
    width: max-content;
    height: max-content;

    .content {
        display: flex;
        flex-direction: row;

        img {
            height: 250px;
            border-radius: @normal_border_radius;
            margin: 20px;
        }

        .right {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 20px;

            h3 {
                font-size: 35px;
                font-family: 'Times New Roman', Times, serif;
            }

            p {
                padding-top: 10px;
                padding-bottom: 10px;
                letter-spacing: 2px;
                font-size: 20px;
            }

            .specialThanks {
                font-size: 12px;
                padding-top: 2px;
                padding-bottom: 2px;
                letter-spacing: 1px;
            }

            ul {
                display: flex;
                flex-direction: column;

                a {
                    color: yellow;
                    padding-bottom: 10px;
                    text-decoration: none;
                }
            }
        }
    }
}

#windowSaveToCloud,
#windowLoadFromCloud,
#windowCodeError,
#windowGraphProperty {
    .content {
        .info {
            padding: 5px;
            letter-spacing: 2px;
            font-size: 15px;
            line-height: 20px;
        }

        ul {
            padding: 5px;
            letter-spacing: 2px;
            list-style: none;
            max-height: 400px;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            li {

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 30px;
                line-height: 20px;
                font-size: 14px;


                span {
                    display: inline-block;
                }

                .showImg {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-right: 5px;
                }

                .graphName {
                    width: 200px;
                    cursor: pointer;
                }

                .graphDate {
                    width: 100px;
                    color: rgb(150, 150, 150);
                }

                .closeBtn {
                    color: red;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }
    }
}

#windowCodeError {
    .content {
        p {
            font-size: 14px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 10px;
        }

        #codeErrorShow {
            margin-bottom: 10px;
            color: red;
        }
    }
}

.lore {
    .content {
        display: flex;
        flex-direction: column;
        padding: 5px;

        input {
            padding: 5px;
            margin: 5px;
        }

        .btnArea {
            display: flex;
            flex-direction: row;
            margin: 5px;

            button {
                display: block;
                width: 50%;
                padding: 5px;
                letter-spacing: 2px;
                border: none;
                outline: none;
                border-radius: @small_border_radius;
                cursor: pointer;

                &:first-child {
                    margin-right: 5px;
                }
            }
        }
    }
}

#windowPay {
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
            height: 200px;
            margin: 20px;
            border-radius: @normal_border_radius;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 20px;

            h2 {
                margin-bottom: 20px;
                letter-spacing: 2px;
            }

            p {
                font-size: 12px;
                letter-spacing: 2px;
                padding-top: 5px;
            }
        }
    }
}

#windowTemplate,
#windowTemplateDya {
    .content ul {
        display: flex;
        flex-wrap: wrap;
        width: 380px;
        padding: 10px;

        li {
            display: block;
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: @normal_border_radius;
            overflow: hidden;
            margin: 10px;
            background-color: white;
            cursor: pointer;

            img {
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
            }

            p {
                position: absolute;
                left: 0px;
                font-size: 12px;
                bottom: 10px;
                letter-spacing: 2px;
                padding-left: 5px;
                padding-top: 2px;
                padding-bottom: 2px;
                border-top-right-radius: @small_border_radius;
                border-bottom-right-radius: @small_border_radius;
                color: rgb(255, 255, 255);
                background-color: rgba(0, 0, 0, 0.612);
            }
        }
    }
}

#windowGraphProperty {
    .content {
        padding: 5px;

        .formSub {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;

            input[type="radio"] {
                margin-right: 4px;
            }

            textarea {
                height: 100px;
                width: 200px;
            }
        }
    }
}

#windowTextEditor {
    .content {
        padding: 5px;

        textarea {
            margin: 5px;
            width: 600px;
            height: 500px;
            font-size: 13px;
            line-height: 15px;
            padding: 5px;
        }
    }
}

.centerWindow {
    .defaultTextArea {
        margin-top: 5px;
        outline: none;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: @small_border_radius;
        resize: none;
    }

    .btn {
        display: block;
        width: calc(100% - 10px);
        padding: 5px;
        margin: 5px;
        letter-spacing: 2px;
        border: none;
        outline: none;
        border-radius: @small_border_radius;
        cursor: pointer;
    }
}

.darkMode {
    .centerWindow {
        .bg {
            background-color: rgba(0, 0, 0, 0.724);
        }

        .main {
            background-color: @bg_color_d_pan;
            color: @fg_color_d_1;

            .title {
                background-color: @bg_color_d_title;
            }
        }

        input {
            outline: none;
            border: none;
            background-color: @bg_color_d_input;
            color: @fg_color_d_1;
        }

        button {
            background-color: @bg_color_l_pan;
        }

        .btnSub {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.3)
        }

        textarea {
            border: 1px solid @bg_color_d_border;
            background-color: @bg_color_d_input;
            color: @fg_color_d_input;
        }
    }
}

.lightMode {
    .centerWindow {
        .bg {
            background-color: rgba(0, 0, 0, 0.34);
        }

        .main {
            background-color: @bg_color_l_pan;
            color: @fg_color_l_1;
            border: 1px solid @bg_color_l_border;

            .title {
                background-color: @bg_color_l_title;
            }
        }

        textarea {
            border: 1px solid @bg_color_l_border;
            background-color: @bg_color_l_input;
            color: @fg_color_l_input;
        }

        .btnSub {
            background-color: transparent;
            color: rgba(0, 0, 0, 0.3)
        }
    }
}