/**
 * component在页面上呈现的样式
 * by vezzzing 2023.8.3
 */

 @import url(./../../public/css/vairbles.less);

.panArea .listPan {
    .compPan {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 15px;
        padding-bottom: 10px;
        overflow: hidden;
        border-radius: @small_border_radius;

        .compPanTitle {
            width: 100%;
            height: @component_title_height;
            display: flex;
            flex-direction: row;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
            line-height: @component_title_height;
            font-size: 15px;
            letter-spacing: 3px;
            font-weight: 100;
            position: relative;

            .compPanTitleText {
                font-size: 14px;
                width: calc(100% - @component_title_height);
            }

            .compPanDeleteBtn {
                display: block;
                width: @component_title_height;
                height: @component_title_height;
                font-size: 22px;
                font-weight: 1000;
                line-height: @component_title_height;
                text-align: right;
                cursor: pointer;
                z-index: 99;
                transition: 0.3s ease-in-out;
            }
        }

        .compPanPropertyContainer {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 8px;
            margin-bottom: 8px;
            height: max-content;
            line-height: @property_height;
            position: relative;
            display: flex;
            flex-direction: row;

            .compPanPropertyKey {
                width: @property_key_width;
                font-size: 13px;
                letter-spacing: 2px;
            }

            input,
            select {
                outline: none;
                padding-left: 5px;
                padding-right: 5px;
                width: calc(100% - @property_key_width);
                height: @property_height;
                border-radius: @small_border_radius;
            }

            input[type=checkbox] {
                width: @property_height;
            }

            input[type=file] {
                &::-webkit-file-upload-button {
                    visibility: hidden;
                }

                &::before {
                    content: '点击选择文件';
                    cursor: pointer;
                    line-height: @property_height;
                    font-size: 11px;
                }
            }

            .divider {
                display: block;
                width: calc(100% - @property_key_width);
                height: 2px;
                margin-top: calc(@property_height / 2);
            }

            textarea {
                outline: none;
                padding-left: 5px;
                padding-right: 5px;
                width: calc(100% - @property_key_width);
                height: 100px;
                border-radius: @small_border_radius;
                resize: none;
            }
        }

        #tag_node {
            width: @pan_area_width;
            display: flex;
            flex-wrap: wrap;
            margin-left: calc(-1 * @property_key_width + 20px) !important;

            .tagContainer {
                position: relative;
                margin-right: 5px;
                margin-bottom: 5px;
                width: 35px;
                height: 25px;
                display: flex;
                flex-direction: row;
                border-radius: @small_border_radius;
                overflow: hidden;

                .tagBtn {
                    display: block;
                    width: calc(100% - 20px);
                    padding-left: 4px;
                    padding-right: 4px;
                    height: 100%;
                    line-height: 25px;
                    outline: none;
                    border: none;
                    text-align: center;
                    cursor: pointer;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .tagDeleteBtn {
                    display: block;
                    width: 20px;
                    height: 25px;
                    text-align: center;
                    cursor: pointer;
                }
            }

            .addBtnDom {
                margin-right: 5px;
                margin-bottom: 5px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                width: 20px !important;
                cursor: pointer;
                border-radius: @small_border_radius;
            }
        }
    }
}

.darkMode {
    .compPan {
        color: @fg_color_d_1;
        background-color: @bg_color_d_pan;

        .compPanTitle {
            background-color: @bg_color_d_title;

            .compPanDeleteBtn {
                &:hover {
                    color: rgb(255, 204, 0);
                }
            }
        }

        .compPanPropertyContainer {

            input,
            select {
                border: 1px solid @bg_color_d_border;
                background-color: @bg_color_d_input;
                color: @fg_color_d_input;
            }

            .divider {
                background-color: @bg_color_d_title;
            }

            textarea {
                border: 1px solid @bg_color_d_border;
                background-color: @bg_color_d_input;
                color: @fg_color_d_input;
            }
        }

        #tag_node {
            .tagContainer {
                .tagDeleteBtn {
                    background-color: @bg_color_d_title;
                }
            }

            .addBtnDom {
                background-color: @bg_color_d_title;
            }
        }
    }
}

.lightMode {
    .compPan {
        color: @fg_color_l_1;
        background-color: @bg_color_l_pan;

        .compPanTitle {
            background-color: @bg_color_l_title;

            .compPanDeleteBtn {
                &:hover {
                    color: rgb(255, 204, 0);
                }
            }
        }

        .compPanPropertyContainer {

            input,
            select {
                border: 1px solid @bg_color_l_border;
                background-color: @bg_color_l_input;
                color: @fg_color_l_input;
            }

            .divider {
                background-color: @bg_color_l_title;
            }

            textarea {
                border: 1px solid @bg_color_l_border;
                background-color: @bg_color_l_input;
                color: @fg_color_l_input;
            }
        }

        #tag_node {
            .tagContainer {
                .tagDeleteBtn {
                    background-color: @bg_color_l_title;
                }
            }

            .addBtnDom {
                background-color: @bg_color_l_title;
            }
        }
    }
}