.displayArea {
    user-select: none;

    .forceNode {
        outline-offset: 3px;
    }

    .unselected {
        outline: none !important;
    }

    .selected {
        outline: 1px dashed rgb(116, 116, 116);
    }

    .nodeLink {
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: rgb(9, 97, 112) !important;
        }
    }
}

// 选择框
.selectionRect {
    fill: rgba(50, 20, 20, 0.3);
    stroke: #ccc;
    stroke-width: 2px;
}