.displayArea {
    user-select: none;

    .forceNode {
        outline-offset: 3px;
    }

    .unselected {
        outline: none !important;
    }

    .selected {
        outline: 1px dashed rgb(116, 116, 116);
    }

    .nodeBlock {
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: rgb(9, 97, 112) !important;
        }
    }
}

// 选择框
.selectionRect {
    fill: rgba(20, 34, 50, 0.3);
    stroke: #ccc;
    stroke-width: 2px;
}

.nodeMd {
    ul {
        li {
            list-style: circle;

            &::before {
                content: "·";
                padding-right: 4px;
                font-size: 20px;
            }
        }
    }
}

.katex-html{
    display: none;
}