@bg_color_title: rgb(82, 82, 82);
@bg_color_input: rgb(35, 35, 35);
@bg_color_pan: rgb(56, 56, 56);
@bg_color_border: rgb(153, 153, 153);

@fg_color_1: rgb(250, 250, 250);
@fg_color_input: rgb(194, 194, 194);

@normal_border_radius: 5px;
@small_border_radius: 3px;

@property_height: 23px;
@property_key_width: 100px;
@component_title_height: 40px;

@component_add_btn_height: 30px;

@add_pan_title_height:40px;
