@import url(./../../public/css/vairbles.less);

body {
    margin: 0;
    padding: 0;
}

.mainWindow {
    .userInfoBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;

        #userAvatar {
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }

        #username {
            letter-spacing: 2px;
            font-size: 25px;
            font-weight: 100;
        }
    }

    .graphListBlock {
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;

            li {
                display: block;
                width: 20%;
                margin: 2%;
                height: 200px;
                border-radius: @small_border_radius;
                cursor: pointer;
            }
        }
    }
}

.darkMode {
    background-color: @bg_color_d_pan;
    color: @fg_color_d_1;

    .graphListBlock {
        background-color: @bg_color_d_title;

        li {
            background-color: white;
        }
    }
}